<h2>Weather Info</h2>

<form (ngSubmit)="fetchWeather()">
    <mat-form-field>
        <mat-label>City</mat-label>
        <input
            name="city"
            [(ngModel)]="city"
            (ngModelChange)="onCityChange($event)"
            placeholder="Enter a city"
            required
            matInput
            [matAutocomplete]="auto"
        />
        <mat-autocomplete
            autoActiveFirstOption 
            #auto="matAutocomplete" 
            [displayWith]="displayLoc">
            @for(loc of locResults; track loc) {
                <mat-option [value]="loc">
                    {{ loc.name }}, {{ loc.state }}, {{ loc.country }}
                </mat-option>
            }
        </mat-autocomplete>
        <button
            class='go-button'
            mat-icon-button
            matSuffix
            aria-label="Go"
            type="submit">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </mat-form-field>
</form>

<div *ngIf="error" class="error">{{ error }}</div>

<div *ngIf="weatherData">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Current conditions</mat-card-title>
            <mat-card-subtitle>for {{ displayLoc(lastLoc) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table>
                <tr>
                    <td>
                        <p><strong>Temperature:</strong> {{ weatherData.current.temp }} °F</p>
                        <p><strong>Feels like:</strong> {{ weatherData.current.feelsLike }} °F</p>
                        <p class="last"><strong>Conditions:</strong> {{ weatherData.current.description }}</p>
                    </td>
                    <td>
                        <img src="https://openweathermap.org/img/wn/{{ weatherData.current.icon }}@2x.png"/>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>10-Day forecast</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="weatherData.forecast">
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let day"> {{ day.dt | unixDate }} </td>
                </ng-container>
                <ng-container matColumnDef="high">
                    <th mat-header-cell *matHeaderCellDef> Day (°F) </th>
                    <td mat-cell *matCellDef="let day"> {{day.day | number:'1.0-0' }} </td>
                </ng-container>
                <ng-container matColumnDef="low">
                    <th mat-header-cell *matHeaderCellDef> Night (°F) </th>
                    <td mat-cell *matCellDef="let day"> {{day.eve | number:'1.0-0' }} </td>
                </ng-container>
                <ng-container matColumnDef="icon">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let day"><img src="https://openweathermap.org/img/wn/{{ day.icon }}.png"/></td>
                </ng-container>
                <ng-container matColumnDef="summary">
                    <th mat-header-cell *matHeaderCellDef> Summary </th>
                    <td mat-cell *matCellDef="let day"> {{day.summary}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="forecastFields"></tr>
                <tr mat-row *matRowDef="let row; columns: forecastFields;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>